<form action="/auth/signup" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit">Submit</button>
  {{#if errorMessage}}
    <p style="color: darkred;">{{errorMessage}}</p>
  {{/if}}
</form>